a
  color: #333 !important;

.list__tile--active{
    // background-color: rgba(10, 10, 10, 0.2);
    color: #fff !important;
}

.list__tile--active .list__tile__title,
.list__tile--active .icon{
    color: #03a9f4 !important;
}